@import "settings";
@import "functions";

@import "../../bower_components/foundation/scss/foundation/components/grid";
@import "../../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "../../bower_components/foundation/scss/foundation/components/buttons";
@import "../../bower_components/foundation/scss/foundation/components/forms";
@import "../../bower_components/foundation/scss/foundation/components/pagination";
@import "../../bower_components/foundation/scss/foundation/components/tabs";
@import "../../bower_components/foundation/scss/foundation/components/type";

@import "../../bower_components/foundation/scss/foundation/components/top-bar";
@import "../../bower_components/foundation/scss/foundation/components/side-nav";

@import "components/typography";
@import "components/syntaxes";
@import "components/icons";
@import "components/forms";
@import "components/buttons";
@import "components/tables";
@import "components/tabs";
@import "components/navs";

.palette {
    ul {
        list-style: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        li {
            float: left;
            width: 20%;
            height: 50px;
            &:before {
                content: "";
            }
        }
    }
    @each $colorName, $mainColor in $brandColors {
        .#{$colorName} {
            @each $toneName, $colorTone in $mainColor {
                .#{$toneName} {
                    background-color: $colorTone;
                }
                
            }
        }
    }
}

article {
    padding: $rem-base;
    border: 1px solid #f5f5f5;
    margin-bottom: $rem-base*2.5;
}

hr {
    margin: $rem-base*3 0;
}

@media #{$medium-up} {
    article {
        padding: $rem-base*2;
    }
}