@import "settings";

$alert-primary-color: "green";
$alert-default-color: "gray";
$alert-info-color: "blue";
$alert-danger-color: "orange";

$selectionColor: "green";

@mixin alert-dynamics($color) {
  background-color: map_get(map_get($brandColors, $color), "light");
  color: map_get(map_get($brandColors, $color), "darker");
  i {
      background-color: map_get(map_get($brandColors, $color), "normal");
      color: scale-color(map_get(map_get($brandColors, $color), "light"), $lightness: 50%);
  }  
  .alert-box-content {
    border-color: map_get(map_get($brandColors, $color), "light");
  }
  .close {
    color: map_get(map_get($brandColors, $color), "normal");
  }
}

@mixin selection-dynamics($color) {
  color: scale-color(map_get(map_get($brandColors, $color), "lighter"), $lightness: 75%);  background: map_get(map_get($brandColors, $color), "lighter");
}

@mixin pagination-dynamics($color) {
  color: map_get(map_get($brandColors, $color), "dark");
  li:not(.arrow) {
    background-color: map_get(map_get($brandColors, $color), "dark");
    > a {
      background-color: #fff;
    }
  }
  li.arrow {
    background-color: map_get(map_get($brandColors, $color), "dark");
    a {
      color: #fff;
    }
  }
  li.current a {
    background-color: map_get(map_get($brandColors, $color), "normal");
    color: #fff;
  }
  li.unavailable a {
    background-color: transparent;
  }
  li:not(.unavailable) > a:not(.arrow):hover {
    background-color: map_get(map_get($brandColors, $color), "light");
    color: map_get(map_get($brandColors, $color), "dark");
  }
  li.arrow:hover a {
    background-color: map_get(map_get($brandColors, $color), "dark");
  }
  li.unavailable a {
    color: scale-color(map_get(map_get($brandColors, $color), "dark"), $lightness: 60%);
  }
}

::selection { 
  @include selection-dynamics($selectionColor);
}
::-moz-selection { 
  @include selection-dynamics($selectionColor);
}

.alert-box {
  border-radius: $global-radius;
  text-align: left;
  padding: 0;
  padding: $rem-base $rem-base*2 $rem-base $rem-base*4;
  border: none;
  font-size: $rem-base;
  position: relative;
  line-height: $rem-base*1.4;
  i {
      // width: $rem-base*3;
      // height: $rem-base*3;
      margin: 0 $rem-base 0 0;
      vertical-align: top;
      display: block;
      text-align: center;
      padding: $rem-base;
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
      position: absolute;
      line-height: $rem-base*1.4;
      font-size: $rem-base; 
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
  }
  .alert-box-content {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    padding: $rem-base;
    margin-top: $rem-base;
    margin-left: -$rem-base;
    margin-right: -($rem-base*2);
    margin-bottom: -$rem-base;
    ul:last-child, p:last-child {
      margin-bottom: 0;
    }
  }
  .close {
    display: block;
    position: absolute;
    top: -3px;
    right: 0;
    height: $rem-base*1.4;
    line-height: $rem-base*1.4;
    padding: $rem-base;
    font-size: 24px; 
    opacity: 1;
    margin: 0;
  }
  &.with-details > i {
      border-bottom-left-radius: 0px;
  }

  @include alert-dynamics($alert-primary-color);
  &.defualt {
    @include alert-dynamics($alert-default-color);
  }
  &.info {
    @include alert-dynamics($alert-info-color);
  }
  &.danger {
    @include alert-dynamics($alert-danger-color);
  }
}

h1, h2, h3, h4, h5, h6 {
  small {
    padding-left: $rem-base/2;
    font-weight: 200;
  }
}

ul, ol {
  margin-left: $rem-base*2;
}

ul.bullets {
  li {
    list-style: none;
    position: relative;
    &:before {
      color: map_get(map_get($brandColors, "green"), "normal");
      content: "•";
      position: absolute;
      margin-left: -$rem-base;
    }
  }
  li li:before { opacity: .7; }
  li li li:before { opacity: .5; }
  li li li li:before { opacity: .3; }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote {
  padding: rem-calc(10 20);
  cite {
    font-size: rem-calc(14);
  }
}

ul.pagination {
  li:before {
      content: "";margin: 0; padding: 0;
  }  
//  @include pagination-dynamics("blue");
  // min-height: rem-calc(30);
  // li {
  //   height: auto;
  // }
  // li > a {
  //   padding: 0;
  //   margin: rem-calc(5);
  //   width: rem-calc(20);
  //   height: rem-calc(20);
  //   text-align: center;
  //   line-height: rem-calc(20);
  // }
  // li:not(.arrow):not(:nth-child(2)) {
  //   margin-left: 0;
  // }
  // li:not(.arrow) > a {
  //   border-radius: 50%;
  // }
  // li:nth-last-child(2) {
  //   border-top-right-radius: $global-radius;
  //   border-bottom-right-radius: $global-radius;
  // }
  // li:nth-child(2) {
  //   border-top-left-radius: $global-radius;
  //   border-bottom-left-radius: $global-radius;
  // }
  // li.arrow {
  //   border-radius: $global-radius;
  // }
  // li.arrow:hover a {
  //   border-radius: 50%;
  // }
  a, button {
    @include no-transition();
  }
}



